<%= form_with(model: pay_later) do |form| %>
  <% if pay_later.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(pay_later.errors.count, "error") %> prohibited this pay_later from being saved:</h2>

      <ul>
        <% pay_later.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :total_outstanding, style: "display: block" %>
    <%= form.text_field :total_outstanding %>
  </div>

  <div>
    <%= form.label :is_active, style: "display: block" %>
    <%= form.check_box :is_active %>
  </div>

  <div>
    <%= form.label :driver_id, style: "display: block" %>
    <%= form.text_field :driver_id %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
