<div id="<%= dom_id card_detail %>">
  <p>
    <strong>Card no:</strong>
    <%= card_detail.card_no %>
  </p>

  <p>
    <strong>Expiry month:</strong>
    <%= card_detail.expiry_month %>
  </p>

  <p>
    <strong>Expiry year:</strong>
    <%= card_detail.expiry_year %>
  </p>

  <p>
    <strong>Is active:</strong>
    <%= card_detail.is_active %>
  </p>

  <p>
    <strong>Is default:</strong>
    <%= card_detail.is_default %>
  </p>

  <p>
    <strong>Driver:</strong>
    <%= card_detail.driver_id %>
  </p>

</div>
