<%= form_with(model: card_detail) do |form| %>
  <% if card_detail.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(card_detail.errors.count, "error") %> prohibited this card_detail from being saved:</h2>

      <ul>
        <% card_detail.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :card_no, style: "display: block" %>
    <%= form.text_field :card_no %>
  </div>

  <div>
    <%= form.label :expiry_month, style: "display: block" %>
    <%= form.text_field :expiry_month %>
  </div>

  <div>
    <%= form.label :expiry_year, style: "display: block" %>
    <%= form.number_field :expiry_year %>
  </div>

  <div>
    <%= form.label :is_active, style: "display: block" %>
    <%= form.check_box :is_active %>
  </div>

  <div>
    <%= form.label :is_default, style: "display: block" %>
    <%= form.check_box :is_default %>
  </div>

  <div>
    <%= form.label :driver_id, style: "display: block" %>
    <%= form.text_field :driver_id %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
