<div id="<%= dom_id driver %>">
  <p>
    <strong>Name:</strong>
    <%= driver.name %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= driver.address %>
  </p>

  <p>
    <strong>Licence d:</strong>
    <%= driver.licence_d %>
  </p>

  <p>
    <strong>Date of birth:</strong>
    <%= driver.date_of_birth %>
  </p>

  <p>
    <strong>User:</strong>
    <%= driver.user_id %>
  </p>

</div>
